.App {
	display: flex;
  box-sizing: border-box;
  margin: auto;
  height: 100%;
}

.wrapper {
	width: 90%;
	margin: auto;
}

body {
	background-image: url(./images/solar.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Roboto Mono', Monospace;
}

h1 {
	margin-bottom: 0;
	display: inline-block;
}

.Current-weather {
	box-sizing: border;
	margin: auto;
}

@media screen and (max-width: 500px) {
	.header-search {
		font-size: 13px;
	}
}

@media screen and (max-width: 320px) {
	.current-location, 
	.header-search {
		display: flex;
		flex-direction: column;
	}
}	