.Seven-hour {
	background-color: hsla(0, 60%, 0%, .4);
	font-family: 'Roboto Mono', Monospace;
	margin-top: 10px;
	margin: auto;
}

.hour-rows {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

@media screen and (max-width: 548px) {
	.hour-rows {
		display: flex;
		flex-direction: column;
	}
}