.Seven-hour {
	background-color: hsla(0, 60%, 0%, .4);
	font-family: 'Averia Gruesa Libre', cursive;
	margin-top: 10px;
	padding: 0;
}

.row {
	display: flex;
	justify-content: space-between;
	width: 100%;	
}