.Ten-day {
	background-color: hsla(0, 60%, 0%, .4);
	font-family: 'Roboto Mono', Monospace;
	margin-top: 10px;
}

.day-rows {
	display: flex;
	flex-direction: row;
	justify-content: space-between
}

@media screen and (max-width: 850px) {
	.day-rows {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}